{% extends "base.index.twig" %}
{% block title %}Newsletter{% endblock %}

{% block content %}

<section>
    <h1>Newsletter</h1>
    <p>Welcome to the Newsletter !</p>

    <div>
        {{ form(formnewsletter) }}
    </div>

</section>

{% endblock %}