:root {
    --bestBlue: #0C91FF;
    --grey-light: rgba(233, 233, 233, 0.8);
    --bor-rad-a: 4px;
}

body {
    margin: 0;
}

p{
    margin: 0;
}

/* header nav */
.nav-header nav{
    padding: 0.5rem 0 0 0;
}


.nav-header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
}

.nav-header nav ul li {
    list-style: none;
}

.nav-header nav ul li a {
    color: var(--bestBlue);
    border: 1px solid var(--grey-light);
    text-decoration: none;
    transition: all .4s;
    padding: 0.3rem;
    border-radius: 4px;
    text-transform: uppercase;
    /* font-size: ; */
}

.nav-header nav ul li a:hover {
    transition: all .4s;
    background-color: var(--grey-light);
}

/* main */
.container-main {
    padding: 0.4rem;
    margin: 3.5rem auto 2.5rem auto;
    max-width: 750px;
}

/* Footer */
.container-footer footer {
    margin-top: 350px;
    padding: 2.2rem;
    display: flex;
    justify-content: space-around;
}

.container-footer p {
    margin: 0;
}

.container-footer a {
    color: var(--bestBlue);
    text-decoration: none;
}

.container-footer a:hover{
    text-decoration: underline;
}

/* max-width 550px */
@media screen and (max-width: 550px) {

    /* header nav */
    .nav-header nav ul {
        gap: 0.2rem;
    }

    /* main */
    .container-main {
        padding: 0.1rem;
        width: auto;
        margin: 1.2rem auto;
    }

    /* footer */
    .container-footer footer {
        display: block;
        text-align: center;
    }
}