<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mini Symfony{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/style/css/style.css')}}" />
    {% block stylesheets %}{% endblock %}
</head>

<body>

    <!-- Header -->
    <header>
        <div class="nav-header">
            <nav>
                <ul>
                    <li><a href="/" title="Home">Home</a></li>
                    <li><a href="/shop" title="Shop">Shop</a></li>
                    <li><a href="/contact" title="Contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main -->
    <main>

        {% block content %} {% endblock %}

    </main>

    <!-- Footer -->
    <div class="container-footer">
        <footer>
            <a href="#!">News-Letter</a>
            <p>&copy; 2022 Thank you for you'r visit !</p>
        </footer>
    </div>

    {% block javascripts %}{% endblock %}

</body>

</html>